@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 350 100% 98%;
    --foreground: 345 60% 30%;
  }
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
  overflow-x: hidden;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}